In [1]:
import numpy as np
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Animal_Shelter"
engine = create_engine(db_string)

In [3]:
intakes_outcomes_df = pd.read_sql_table('intakes_outcomes', con=engine)
intakes_outcomes_df

,animal_id,intake_date,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,outcome_date,outcome_type,age_upon_outcome
0,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0,Domestic Shorthair Mix,2013-10-21,Transfer,0.0
1,A818975,2020-06-18,Stray,Normal,Cat,Male,0.0,Domestic Shorthair,2020-07-23,Adoption or RTO,0.0
2,A774147,2018-06-11,Stray,Sick,Cat,Female,0.0,Domestic Shorthair Mix,2018-06-11,Transfer,0.0
3,A731435,2016-08-08,Owner Surrender,Normal,Cat,Male,0.0,Domestic Shorthair Mix,2016-08-13,Transfer,0.0
4,A790209,2019-03-06,Public Assist,Normal,Cat,Female,4.0,Domestic Shorthair Mix,2019-03-13,Adoption or RTO,4.0
...,...,...,...,...,...,...,...,...,...,...,...
40367,A830122,2021-03-02,Stray,Sick,Cat,Female,0.0,Domestic Shorthair,NaT,None,NaN
40368,A830113,2021-03-02,Stray,Sick,Cat,Female,2.0,Domestic Shorthair,NaT,None,NaN
40369,A830137,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair,NaT,None,NaN
40370,A830157,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair Mix,NaT,None,NaN
40371,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0,Domestic Shorthair Mix,NaT,None,NaN

In [4]:
intakes_outcomes_df.dtypes

animal_id                   object
intake_date         datetime64[ns]
intake_type                 object
intake_condition            object
animal_type                 object
sex_upon_intake             object
age_upon_intake            float64
breed                       object
outcome_date        datetime64[ns]
outcome_type                object
age_upon_outcome           float64
dtype: object

In [5]:
# Count number of NaN values
intakes_outcomes_df.isnull().sum(axis = 0)

animal_id             0
intake_date           0
intake_type           0
intake_condition      0
animal_type           0
sex_upon_intake       0
age_upon_intake       0
breed                 0
outcome_date        143
outcome_type        143
age_upon_outcome    143
dtype: int64

In [6]:
# Replace NaN values 
intakes_outcomes_df[['outcome_type']] = intakes_outcomes_df[['outcome_type']].fillna('Still in center')
intakes_outcomes_df['outcome_date'] = intakes_outcomes_df['outcome_date'].fillna(intakes_outcomes_df['intake_date'])
intakes_outcomes_df['age_upon_outcome'] = intakes_outcomes_df['age_upon_outcome'].fillna(intakes_outcomes_df['age_upon_intake'])

In [7]:
intakes_outcomes_df

,animal_id,intake_date,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,outcome_date,outcome_type,age_upon_outcome
0,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0,Domestic Shorthair Mix,2013-10-21,Transfer,0.0
1,A818975,2020-06-18,Stray,Normal,Cat,Male,0.0,Domestic Shorthair,2020-07-23,Adoption or RTO,0.0
2,A774147,2018-06-11,Stray,Sick,Cat,Female,0.0,Domestic Shorthair Mix,2018-06-11,Transfer,0.0
3,A731435,2016-08-08,Owner Surrender,Normal,Cat,Male,0.0,Domestic Shorthair Mix,2016-08-13,Transfer,0.0
4,A790209,2019-03-06,Public Assist,Normal,Cat,Female,4.0,Domestic Shorthair Mix,2019-03-13,Adoption or RTO,4.0
...,...,...,...,...,...,...,...,...,...,...,...
40367,A830122,2021-03-02,Stray,Sick,Cat,Female,0.0,Domestic Shorthair,2021-03-02,Still in center,0.0
40368,A830113,2021-03-02,Stray,Sick,Cat,Female,2.0,Domestic Shorthair,2021-03-02,Still in center,2.0
40369,A830137,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair,2021-03-03,Still in center,0.0
40370,A830157,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair Mix,2021-03-03,Still in center,0.0
40371,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0,Domestic Shorthair Mix,2021-03-03,Still in center,4.0

In [8]:
# create new column to calculate how long each cat stayed in the center
intakes_outcomes_df['days_in_center'] = (intakes_outcomes_df['outcome_date'] - intakes_outcomes_df['intake_date']).dt.days

In [9]:
# +1 to include end date in calculation
intakes_outcomes_df["days_in_center"] = intakes_outcomes_df["days_in_center"] + 1

In [10]:
intakes_outcomes_df["days_in_center"].unique()

array([    1,    36,     6,     8,    78,    23,     5,    51,     0,
          32,    81,    39,   560,     4,     2,    57,    16,    53,
           3,    27,   321,   171,    41,     7,    14,    31,    11,
          66,    12,    43,   159,    10,    22,    18,    48,    45,
         150,    61,   135,    62,    13,   106,    46,    49,    44,
          19,     9,    15,    85,    38,    21,   366,    28,    59,
        -142,   165,   139,   226,    29,    26,    52,    35,    67,
         -29,   125,    50,    40,    73,    17,    58,    60,    55,
         118,    77,   216,   127,   107,    69,    20,  -810,   348,
          30,    25,    33,    24,    70,    -1,    34,   207,    37,
         655,  -171,    65,   402,   102,    74,    80,   -18,   376,
       -2145,    86,   105,    54,    88,    97,    56,    47,   299,
          42,   546,   119,   113,  -190,    98,    -4,    64,    93,
          71,    72,  -289,    84,    76,  -354,   -28,    83,    96,
          90, -1090,   164,   201,   173,   282,  -116,   109,   270,
          91,   156,    -6,    -5,   170,   183,   243,   337,   -17,
         104,   114,  -107,  -242,   112,    87,  -740,   -44,  1725,
         -11,   893,  -197,   292,   -25,    92,   161,    63,  -237,
          89,   120,   138,    68,  -161,   117,   -55,  1517,    99,
         144,    79,   151,   132,   110,  -552,    -3,   320,   166,
        1025,   -92,   100, -1107,    -8,   153,   143,   -39,    82,
       -1029,   155,  -752,   -61,   935,  -152,    94,  -831,   653,
         223,   154,   126,   202,  -361,   -36,   -35,   121,   -16,
        -133,    -2,   192,   346,   200,   111,   179,  -474,  1374,
         128,   181,    75,  -147,   116,   -14,   211,  -135,   568,
         177,   122,   353,  -112,  1763,  -204,   -13,   969,   763,
         108,   231,   -86,  -199,  -604,   148,   483,   189,   136,
         241,   180,  1689,  1002,    -9,   380,   162,   103,   133,
        -916,  -174,   510,  -326,   239,   358,  1271,  -923,  -200,
         182, -1901,   -65,   252,   101,   580,  -140,   134,    95,
         146,   -26,  -104,  -186,   467,  -105,  -257,   172,   233,
         590,  1131,   -12,   210,  -349,   249,   788,  1371,   145,
         520,  1707,  -441,   261,  -823,  -432,   -45,   142,  -587,
        -101,   141,   468,   -48,   294,  -329,  1129,  -471,   -19,
         -63, -1668,   163,   -23,   214,   381,   741,   390,  -909,
         347,   219,   -21,   -10,   167,   115,  1363,   198,   228,
         286,  -668,   140,  -233,   331,   323,   124,   160,   123,
         -66,  -524,   516,   389,   224,   -93,   303,   298,   213,
         338, -1015,   765,   176,  1515,  -519,   820,  1069,   232,
        -162,   203,  -765,   131,  -368,  -991, -1554,   273,   472,
         375,  -494,   -78,   352,  -335,   443,  -273,   186,  -380,
         371,   -32, -1215,  -531,   129,   598,   662,   -43,  -543,
         -54,   914,  1409,   222,   -75,   536,   326,  1233,  -495,
         319,  -579,  -567,  -635,  -504,   174,  1215,  1820,   272,
         -84,  -526,  -114,  -191, -1353,  -621,   317,   137,  1549,
        -157,   -34,   -46,   -27,  -919,   185,  -168,  -320,   206,
         258,   248,   412, -1025,   220,   642,   199,   158,  -164,
       -1884,  -145,   669,   230,   266,   334,  -879,   359,  -885,
         -57,  -449,  1289,   514,   265,   205,  -183,   283,   130,
         147,  1625,   195,   -79,   414, -2273,   -52,  -202,  -411,
         -33,   245,   335, -1506,   706,   191,  1444,  -115,   290,
        -666,   287,  -108,   440,  -615,  1349,   253,  1103,   188,
         -95,   697,   332,   -68,   -24,   218,   407,  -939,   187,
         343,  1232,   169,  -163,  -267,  -513,   178,   -77,   316,
        -192,   263,   496,   197,   238,  -224,  -125, -2080,  1448,
         209,   561,   208,   564,  -619,   324,   534,   296,   394,
         566,  -864,   277,   841,   678,  -649,  -393,   606,   256,
       -1909,   846,   -22, -1336,   264,   527,   698,   175,   -90,
        -728,  -264,  -332,   725,   149,   780,   307,   -37,  -379,
        -783,   314,   289,   364,    -7,   -31,   967,   300,  -158,
         479,   -64,   614,  -981,  -211,  -246,   244,  -535,  -122,
       -1129,   515,   799,  -346,   301,  -807,  -406,   463,  -136,
         457,   168,   480,   367,   235,  -270,  -302,  -234,   152,
         315,  -799,   747,   406,   481,   711, -1098,  -674,   342,
         641,  -949,  -409,  -714,   572,   157,   313,   227,   225,
       -1010,   -40, -2025,   419,   193,  1058,   449,   611,   242,
         -56,   217, -1108,   854,   237,   852,   -72,   397,   250,
         190,   -58,  -124,   411,   330,  1329,   858,   275,   -82,
       -1238,   267,  -189,  -243, -1065,   872,  -221, -1118,  1099,
        -216, -1674,   361,   -76,   204,  -290,  1593,   731,   603,
         356,   318,  -309,   293,  -914,   578,  -317,   212,   355,
         794, -1928,   595,   648,  -544,   284,   246,   476,  1471,
         271,  -203,   702,  -964,   221,   229,  -691,   350,   184,
         545,   -47,  1425,   -98,   215, -2048,  -285,   251,   383,
         255,  -901,  1000,  -265,  -466,   -20,  1126,   704,  -334,
        -138,  -149,   341,  -172,   400,   776,  -613,   -49,   360,
         -91,   302,   -15,   -87,   491,   -73,  -439,  -732,  1516,
         236, -1890,   281, -1248, -1105,   498, -1000,   552,   391,
         672,   693,   403,  -206,   448,   333,  -193,  1379,   429,
         444, -1242,   554,   260,  -385,   453,  1091,   194,   526,
        -942,  -279,   -81,   262,  1024, -1338,  1667,   456,   196,
         308,   387,   464,   508,   442,   311,  -430,   710,  -389,
         583,   965,   362,   434,   -97,   856,   -38,   441, -2218])

In [11]:
# Drop negative(invalid) values on "days in center"
intakes_outcomes_df.drop(intakes_outcomes_df[intakes_outcomes_df['days_in_center'] < 0 ].index , inplace=True)

In [12]:
# Sort data by intake date
intakes_outcomes_df = intakes_outcomes_df.sort_values(by='intake_date')
intakes_outcomes_df

,animal_id,intake_date,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,outcome_date,outcome_type,age_upon_outcome,days_in_center
33601,A664281,2013-10-01,Stray,Normal,Cat,Male,2.0,Domestic Shorthair Mix,2013-10-02,Transfer,2.0,2
3800,A664322,2013-10-01,Stray,Normal,Cat,Female,0.0,Domestic Shorthair Mix,2013-11-16,Adoption or RTO,0.0,47
38641,A664264,2013-10-01,Stray,Normal,Cat,Male,0.0,Domestic Shorthair Mix,2013-10-14,Adoption or RTO,0.0,14
26596,A664288,2013-10-01,Stray,Normal,Cat,Male,2.0,Domestic Shorthair Mix,2013-10-01,Euthanasia,2.0,1
32362,A664271,2013-10-01,Stray,Normal,Cat,Female,0.0,Domestic Shorthair Mix,2013-10-01,Transfer,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40367,A830122,2021-03-02,Stray,Sick,Cat,Female,0.0,Domestic Shorthair,2021-03-02,Still in center,0.0,1
40368,A830113,2021-03-02,Stray,Sick,Cat,Female,2.0,Domestic Shorthair,2021-03-02,Still in center,2.0,1
40370,A830157,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair Mix,2021-03-03,Still in center,0.0,1
40369,A830137,2021-03-03,Stray,Sick,Cat,Male,0.0,Domestic Shorthair,2021-03-03,Still in center,0.0,1
40371,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0,Domestic Shorthair Mix,2021-03-03,Still in center,4.0,1

In [13]:
# Filter date between 2014-01-01 and 2020-12-31
intakes_outcomes_df = intakes_outcomes_df.loc[(intakes_outcomes_df['intake_date'] >= '2014-01-01') & (intakes_outcomes_df['intake_date'] <= '2020-12-31')]
intakes_outcomes_df = intakes_outcomes_df.loc[(intakes_outcomes_df['outcome_date'] >= '2014-01-01') & (intakes_outcomes_df['outcome_date'] <= '2020-12-31')]

In [14]:
intakes_outcomes_df.to_csv('../Data/clean_data.csv', index = False)

In [15]:
intakes_outcomes_df.to_sql(name='clean_data', con=engine, index=False)