In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_path = "Data/Austin_Animal_Center_Outcomes.csv"
animal_center_outcomes_df = pd.read_csv(csv_path)
animal_center_outcomes_df

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
124486,A828810,*Rory,03/03/2021 04:20:00 PM,03/03/2021 04:20:00 PM,03/26/2020,Adoption,NaN,Dog,Spayed Female,11 months,Chihuahua Shorthair/American Staffordshire Ter...,Brown/Tan
124487,A791377,Bolt,12/28/2020 03:49:00 PM,12/28/2020 03:49:00 PM,01/14/2019,Return to Owner,NaN,Dog,Neutered Male,1 year,Siberian Husky Mix,White
124488,A829611,Chief,03/03/2021 04:59:00 PM,03/03/2021 04:59:00 PM,02/17/2012,Rto-Adopt,NaN,Cat,Neutered Male,9 years,Domestic Shorthair,Orange Tabby
124489,A829964,NaN,03/03/2021 05:57:00 PM,03/03/2021 05:57:00 PM,11/27/2020,Adoption,NaN,Dog,Neutered Male,3 months,Labrador Retriever,Cream
124490,A828158,Odin,03/03/2021 05:19:00 PM,03/03/2021 05:19:00 PM,03/09/2020,Adoption,NaN,Dog,Neutered Male,11 months,Rottweiler Mix,Black/Tan

In [3]:
animal_center_outcomes_df.notnull().sum()

Animal ID           124491
Name                 85466
DateTime            124491
MonthYear           124491
Date of Birth       124491
Outcome Type        124471
Outcome Subtype      57308
Animal Type         124491
Sex upon Outcome    124490
Age upon Outcome    124486
Breed               124491
Color               124491
dtype: int64

In [4]:
# Drop unncessary columns
outcomes_df = animal_center_outcomes_df.drop(columns=["Name", "MonthYear", "Date of Birth", "Outcome Subtype", "Sex upon Outcome", "Breed", "Color"])
outcomes_df

,Animal ID,DateTime,Outcome Type,Animal Type,Age upon Outcome
0,A794011,05/08/2019 06:20:00 PM,Rto-Adopt,Cat,2 years
1,A776359,07/18/2018 04:02:00 PM,Adoption,Dog,1 year
2,A821648,08/16/2020 11:38:00 AM,Euthanasia,Other,1 year
3,A720371,02/13/2016 05:59:00 PM,Adoption,Dog,4 months
4,A674754,03/18/2014 11:47:00 AM,Transfer,Cat,6 days
...,...,...,...,...,...
124486,A828810,03/03/2021 04:20:00 PM,Adoption,Dog,11 months
124487,A791377,12/28/2020 03:49:00 PM,Return to Owner,Dog,1 year
124488,A829611,03/03/2021 04:59:00 PM,Rto-Adopt,Cat,9 years
124489,A829964,03/03/2021 05:57:00 PM,Adoption,Dog,3 months
124490,A828158,03/03/2021 05:19:00 PM,Adoption,Dog,11 months

In [5]:
outcomes_df = outcomes_df.dropna()
outcomes_df.notnull().sum()

Animal ID           124466
DateTime            124466
Outcome Type        124466
Animal Type         124466
Age upon Outcome    124466
dtype: int64

In [6]:
# check if there are duplicates in animal ID
outcomes_df['Animal ID'].is_unique

False

In [7]:
# Drop duplicated animal ID
outcomes_df = outcomes_df.drop_duplicates(subset=['Animal ID'])

In [8]:
outcomes_df["DateTime"] = pd.to_datetime(outcomes_df["DateTime"]).dt.date
outcomes_df

       Animal ID    DateTime Outcome Type Animal Type Age upon Outcome
0        A794011  2019-05-08    Rto-Adopt         Cat          2 years
1        A776359  2018-07-18     Adoption         Dog           1 year
2        A821648  2020-08-16   Euthanasia       Other           1 year
3        A720371  2016-02-13     Adoption         Dog         4 months
4        A674754  2014-03-18     Transfer         Cat           6 days
...          ...         ...          ...         ...              ...
124485   A829517  2021-03-03     Transfer         Cat           1 year
124486   A828810  2021-03-03     Adoption         Dog        11 months
124488   A829611  2021-03-03    Rto-Adopt         Cat          9 years
124489   A829964  2021-03-03     Adoption         Dog         3 months
124490   A828158  2021-03-03     Adoption         Dog        11 months

[111288 rows x 5 columns]

In [9]:
outcomes_df.rename(columns = {'DateTime':'Outcome Date'}, inplace = True)

In [10]:
outcomes_df["Age upon Outcome"].unique()

array(['2 years', '1 year', '4 months', '6 days', '7 years', '2 months',
       '2 days', '3 weeks', '9 months', '4 weeks', '2 weeks', '3 months',
       '9 years', '10 years', '6 months', '8 years', '3 years',
       '7 months', '6 years', '4 years', '1 month', '12 years', '5 years',
       '1 weeks', '5 months', '5 days', '15 years', '11 months',
       '10 months', '4 days', '16 years', '1 day', '8 months', '11 years',
       '13 years', '1 week', '14 years', '3 days', '0 years', '5 weeks',
       '17 years', '18 years', '20 years', '22 years', '-2 years',
       '19 years', '23 years', '24 years', '25 years', '21 years'],
      dtype=object)

In [11]:
# Convert age into years
def convertAgeToFloat(inputAge):
# grab number & grab unit
    parsed = inputAge.split(" ")
    # ['5', 'days'] -> parsed[0] -> number, parsed[1] -> unit
    num = float(parsed[0])
    if (num < 0):
        return -1
    unit = parsed[1]
    divisor = 1
    if ('day' in unit):
        divisor = 365
    elif ('month' in unit):
        divisor = 12
    elif ('week' in unit):
        divisor = 52
    else:
    # assume the unit is years
        divisor = 1
    if (num < divisor):
        return 0.0;
    return num/divisor

In [12]:
outcomes_df["Age upon Outcome"] = outcomes_df["Age upon Outcome"].apply(convertAgeToFloat)
outcomes_df

       Animal ID Outcome Date Outcome Type Animal Type  Age upon Outcome
0        A794011   2019-05-08    Rto-Adopt         Cat               2.0
1        A776359   2018-07-18     Adoption         Dog               1.0
2        A821648   2020-08-16   Euthanasia       Other               1.0
3        A720371   2016-02-13     Adoption         Dog               0.0
4        A674754   2014-03-18     Transfer         Cat               0.0
...          ...          ...          ...         ...               ...
124485   A829517   2021-03-03     Transfer         Cat               1.0
124486   A828810   2021-03-03     Adoption         Dog               0.0
124488   A829611   2021-03-03    Rto-Adopt         Cat               9.0
124489   A829964   2021-03-03     Adoption         Dog               0.0
124490   A828158   2021-03-03     Adoption         Dog               0.0

[111288 rows x 5 columns]

In [13]:
outcomes_df["Age upon Outcome"].unique()

array([ 2.,  1.,  0.,  7.,  9., 10.,  8.,  3.,  6.,  4., 12.,  5., 15.,
       16., 11., 13., 14., 17., 18., 20., 22., -1., 19., 23., 24., 25.,
       21.])

In [14]:
# Drop invalid age (-1)
outcomes_df.drop(outcomes_df.index[outcomes_df["Age upon Outcome"] == -1], inplace=True)
outcomes_df

       Animal ID Outcome Date Outcome Type Animal Type  Age upon Outcome
0        A794011   2019-05-08    Rto-Adopt         Cat               2.0
1        A776359   2018-07-18     Adoption         Dog               1.0
2        A821648   2020-08-16   Euthanasia       Other               1.0
3        A720371   2016-02-13     Adoption         Dog               0.0
4        A674754   2014-03-18     Transfer         Cat               0.0
...          ...          ...          ...         ...               ...
124485   A829517   2021-03-03     Transfer         Cat               1.0
124486   A828810   2021-03-03     Adoption         Dog               0.0
124488   A829611   2021-03-03    Rto-Adopt         Cat               9.0
124489   A829964   2021-03-03     Adoption         Dog               0.0
124490   A828158   2021-03-03     Adoption         Dog               0.0

[111287 rows x 5 columns]

In [15]:
# Rename age upon outcome column
outcomes_df.rename(columns = {'Age upon Outcome':'Age upon Outcomes(years)'}, inplace = True)

In [16]:
outcomes_df["Animal Type"].unique()

array(['Cat', 'Dog', 'Other', 'Bird', 'Livestock'], dtype=object)

In [17]:
# Get data for dog and cat
outcomes_df = outcomes_df.loc[(outcomes_df["Animal Type"] == "Dog") | (outcomes_df["Animal Type"] == "Cat")]
outcomes_df

,Animal ID,Outcome Date,Outcome Type,Animal Type,Age upon Outcomes(years)
0,A794011,2019-05-08,Rto-Adopt,Cat,2.0
1,A776359,2018-07-18,Adoption,Dog,1.0
3,A720371,2016-02-13,Adoption,Dog,0.0
4,A674754,2014-03-18,Transfer,Cat,0.0
5,A659412,2020-10-05,Adoption,Dog,7.0
...,...,...,...,...,...
124485,A829517,2021-03-03,Transfer,Cat,1.0
124486,A828810,2021-03-03,Adoption,Dog,0.0
124488,A829611,2021-03-03,Rto-Adopt,Cat,9.0
124489,A829964,2021-03-03,Adoption,Dog,0.0
124490,A828158,2021-03-03,Adoption,Dog,0.0

In [18]:
# Drop animal type column
outcomes_df = outcomes_df.drop(columns=["Animal Type"])

In [19]:
outcomes_df["Outcome Type"].unique()

array(['Rto-Adopt', 'Adoption', 'Transfer', 'Return to Owner',
       'Euthanasia', 'Died', 'Disposal', 'Missing', 'Relocate'],
      dtype=object)

In [20]:
# Clean "Outcome Type" column
def convertOutcome(inputOutcome):
    if ('Adopt' in inputOutcome) or ('Return' in inputOutcome):
        return 'Adoption or RTO'
    elif ('Transfer' in inputOutcome) or ('Relocate' in inputOutcome):
        return 'Transfer'
    elif ('Died' in inputOutcome) or ('Disposal' in inputOutcome) or ('Missing' in inputOutcome):
        return 'Died or Missing'
    elif ('Euthanasia' in inputOutcome):
        return 'Euthanasia'

In [21]:
outcomes_df["Outcome Type"] = outcomes_df["Outcome Type"].apply(convertOutcome)
outcomes_df

       Animal ID Outcome Date     Outcome Type  Age upon Outcomes(years)
0        A794011   2019-05-08  Adoption or RTO                       2.0
1        A776359   2018-07-18  Adoption or RTO                       1.0
3        A720371   2016-02-13  Adoption or RTO                       0.0
4        A674754   2014-03-18         Transfer                       0.0
5        A659412   2020-10-05  Adoption or RTO                       7.0
...          ...          ...              ...                       ...
124485   A829517   2021-03-03         Transfer                       1.0
124486   A828810   2021-03-03  Adoption or RTO                       0.0
124488   A829611   2021-03-03  Adoption or RTO                       9.0
124489   A829964   2021-03-03  Adoption or RTO                       0.0
124490   A828158   2021-03-03  Adoption or RTO                       0.0

[104110 rows x 4 columns]

In [22]:
outcomes_df["Outcome Type"].unique()

array(['Adoption or RTO', 'Transfer', 'Euthanasia', 'Died or Missing'],
      dtype=object)

In [23]:
outcomes_df.to_csv('Data/clean_outcomes.csv', index = False)