In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
csv_path = "Data/Austin_Animal_Center_Intakes.csv"
animal_center_intakes_df = pd.read_csv(csv_path)
animal_center_intakes_df

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
124115,A828158,Odin,01/08/2021 07:01:00 PM,01/08/2021 07:01:00 PM,2224 E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,10 months,Rottweiler Mix,Black/Tan
124116,A830183,NaN,03/03/2021 05:12:00 PM,03/03/2021 05:12:00 PM,6802 Bryonwood Drive in Austin (TX),Stray,Medical,Dog,Intact Female,1 month,Chihuahua Shorthair,White
124117,A830180,Gigi,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 years,Australian Cattle Dog/Belgian Malinois,Brown Brindle/White
124118,A830171,NaN,03/03/2021 05:13:00 PM,03/03/2021 05:13:00 PM,1310 West Howard Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Plott Hound Mix,Brown Brindle/White
124119,A830181,Nona,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,4 years,Domestic Shorthair Mix,White/Black

In [4]:
animal_center_intakes_df.notnull().sum()

Animal ID           124120
Name                 85069
DateTime            124120
MonthYear           124120
Found Location      124120
Intake Type         124120
Intake Condition    124120
Animal Type         124120
Sex upon Intake     124119
Age upon Intake     124120
Breed               124120
Color               124120
dtype: int64

In [ ]:
# Clean "Breed" column
def convertBreed(inputBreed):
    if ('Sick' in inputCondition) or ('Injured' in inputCondition) or ('Nursing' in inputCondition) or ('Medical' in inputCondition):
        return 'Sick'
    
    if ('Normal' in inputCondition):
        return 'Normal'
    
    if ('Aged' in inputCondition):
        return 'Aged'
    
    if ('Feral' in inputCondition):
        return 'Feral'
    
    if ('Pregnant' in inputCondition):
        return 'Pregnant'
    
    if ('Behavior' in inputCondition):
        return 'Behavior'
    
    return 'Other'

In [5]:
# Drop unncessary columns
intakes_df = animal_center_intakes_df.drop(columns=["Name", "MonthYear", "Found Location", "Color"])
intakes_df

,Animal ID,DateTime,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake
0,A786884,01/03/2019 04:19:00 PM,Stray,Normal,Dog,Neutered Male,2 years
1,A706918,07/05/2015 12:59:00 PM,Stray,Normal,Dog,Spayed Female,8 years
2,A724273,04/14/2016 06:43:00 PM,Stray,Normal,Dog,Intact Male,11 months
3,A665644,10/21/2013 07:59:00 AM,Stray,Sick,Cat,Intact Female,4 weeks
4,A682524,06/29/2014 10:38:00 AM,Stray,Normal,Dog,Neutered Male,4 years
...,...,...,...,...,...,...,...
124115,A828158,01/08/2021 07:01:00 PM,Stray,Normal,Dog,Intact Male,10 months
124116,A830183,03/03/2021 05:12:00 PM,Stray,Medical,Dog,Intact Female,1 month
124117,A830180,03/03/2021 04:31:00 PM,Owner Surrender,Normal,Dog,Intact Female,9 years
124118,A830171,03/03/2021 05:13:00 PM,Stray,Normal,Dog,Intact Female,1 year
124119,A830181,03/03/2021 04:31:00 PM,Owner Surrender,Normal,Cat,Spayed Female,4 years

In [6]:
intakes_df = intakes_df.dropna()
intakes_df.notnull().sum()

Animal ID           124119
DateTime            124119
Intake Type         124119
Intake Condition    124119
Animal Type         124119
Sex upon Intake     124119
Age upon Intake     124119
dtype: int64

In [7]:
# check if there are duplicates in animal ID
intakes_df['Animal ID'].is_unique

False

In [8]:
# Drop duplicated animal ID
intakes_df = intakes_df.drop_duplicates(subset=['Animal ID'])

In [9]:
intakes_df["DateTime"] = pd.to_datetime(intakes_df["DateTime"]).dt.date
intakes_df

,Animal ID,DateTime,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake
0,A786884,2019-01-03,Stray,Normal,Dog,Neutered Male,2 years
1,A706918,2015-07-05,Stray,Normal,Dog,Spayed Female,8 years
2,A724273,2016-04-14,Stray,Normal,Dog,Intact Male,11 months
3,A665644,2013-10-21,Stray,Sick,Cat,Intact Female,4 weeks
4,A682524,2014-06-29,Stray,Normal,Dog,Neutered Male,4 years
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Intact Male,10 months
124116,A830183,2021-03-03,Stray,Medical,Dog,Intact Female,1 month
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Intact Female,9 years
124118,A830171,2021-03-03,Stray,Normal,Dog,Intact Female,1 year
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Spayed Female,4 years

In [10]:
intakes_df.rename(columns = {'DateTime':'Intake Date'}, inplace = True)

In [11]:
intakes_df["Age upon Intake"].unique()

array(['2 years', '8 years', '11 months', '4 weeks', '4 years', '6 years',
       '5 months', '14 years', '1 month', '2 months', '18 years',
       '4 months', '1 year', '6 months', '3 years', '4 days', '1 day',
       '5 years', '2 weeks', '15 years', '7 years', '3 weeks', '3 months',
       '12 years', '1 week', '9 months', '10 years', '10 months',
       '7 months', '9 years', '8 months', '1 weeks', '5 days', '2 days',
       '11 years', '0 years', '17 years', '3 days', '13 years', '5 weeks',
       '19 years', '6 days', '16 years', '20 years', '-1 years',
       '22 years', '23 years', '-2 years', '21 years', '25 years',
       '24 years'], dtype=object)

In [12]:
# Convert age into years
def convertAgeToFloat(inputAge):
# grab number & grab unit
    parsed = inputAge.split(" ")
    # ['5', 'days'] -> parsed[0] -> number, parsed[1] -> unit
    num = float(parsed[0])
    if (num < 0):
        return -1
    unit = parsed[1]
    divisor = 1
    if ('day' in unit):
        divisor = 365
    elif ('month' in unit):
        divisor = 12
    elif ('week' in unit):
        divisor = 52
    else:
        # assume the unit is years
        divisor = 1
    
    # if less than 1 year old, return 0
    if (num < divisor):
        return 0.0;
    
    # return age in years
    return num/divisor

In [13]:
intakes_df["Age upon Intake"] = intakes_df["Age upon Intake"].apply(convertAgeToFloat)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake
0,A786884,2019-01-03,Stray,Normal,Dog,Neutered Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Spayed Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Intact Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Intact Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Neutered Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Intact Male,0.0
124116,A830183,2021-03-03,Stray,Medical,Dog,Intact Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Intact Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Intact Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Spayed Female,4.0

In [14]:
intakes_df["Age upon Intake"].unique()

array([ 2.,  8.,  0.,  4.,  6., 14., 18.,  1.,  3.,  5., 15.,  7., 12.,
       10.,  9., 11., 17., 13., 19., 16., 20., -1., 22., 23., 21., 25.,
       24.])

In [15]:
# Drop invalid age (-1)
intakes_df.drop(intakes_df.index[intakes_df["Age upon Intake"] == -1], inplace=True)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake
0,A786884,2019-01-03,Stray,Normal,Dog,Neutered Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Spayed Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Intact Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Intact Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Neutered Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Intact Male,0.0
124116,A830183,2021-03-03,Stray,Medical,Dog,Intact Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Intact Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Intact Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Spayed Female,4.0

In [16]:
# Rename age upon intake column
intakes_df.rename(columns = {'Age upon Intake':'Age upon Intake(years)'}, inplace = True)

In [17]:
intakes_df["Animal Type"].unique()

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [18]:
# Get data for dog and cat
intakes_df = intakes_df.loc[(intakes_df["Animal Type"] == "Dog") | (intakes_df["Animal Type"] == "Cat")]
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake(years)
0,A786884,2019-01-03,Stray,Normal,Dog,Neutered Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Spayed Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Intact Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Intact Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Neutered Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Intact Male,0.0
124116,A830183,2021-03-03,Stray,Medical,Dog,Intact Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Intact Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Intact Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Spayed Female,4.0

In [19]:
intakes_df["Sex upon Intake"].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown'], dtype=object)

In [20]:
# Clean "Sex upon Intake" column
def convertSex(inputSex):
    if ('Male' in inputSex):
        return 'Male'
    elif ('Female' in inputSex):
        return 'Female'
    else: 
        return 'Unknown'

In [21]:
intakes_df["Sex upon Intake"] = intakes_df["Sex upon Intake"].apply(convertSex)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake(years)
0,A786884,2019-01-03,Stray,Normal,Dog,Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Male,0.0
124116,A830183,2021-03-03,Stray,Medical,Dog,Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0

In [22]:
# Drop unknown sex
intakes_df.drop(intakes_df.index[intakes_df["Sex upon Intake"] == "Unknown"], inplace=True)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake(years)
0,A786884,2019-01-03,Stray,Normal,Dog,Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Male,0.0
124116,A830183,2021-03-03,Stray,Medical,Dog,Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0

In [23]:
intakes_df["Intake Type"].unique()

array(['Stray', 'Owner Surrender', 'Public Assist', 'Abandoned',
       'Euthanasia Request'], dtype=object)

In [24]:
intakes_df["Intake Condition"].unique()

array(['Normal', 'Sick', 'Injured', 'Nursing', 'Aged', 'Other', 'Feral',
       'Medical', 'Pregnant', 'Behavior'], dtype=object)

In [25]:
# Clean "Intake Condition" column
def convertCondition(inputCondition):
    if ('Sick' in inputCondition) or ('Injured' in inputCondition) or ('Nursing' in inputCondition) or ('Medical' in inputCondition):
        return 'Sick'
    
    if ('Normal' in inputCondition):
        return 'Normal'
    
    if ('Aged' in inputCondition):
        return 'Aged'
    
    if ('Feral' in inputCondition):
        return 'Feral'
    
    if ('Pregnant' in inputCondition):
        return 'Pregnant'
    
    if ('Behavior' in inputCondition):
        return 'Behavior'
    
    return 'Other'

In [26]:
intakes_df["Intake Condition"] = intakes_df["Intake Condition"].apply(convertCondition)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake(years)
0,A786884,2019-01-03,Stray,Normal,Dog,Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Male,0.0
124116,A830183,2021-03-03,Stray,Sick,Dog,Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0

In [27]:
# Drop unknown condition
intakes_df.drop(intakes_df.index[intakes_df["Intake Condition"] == "Other"], inplace=True)
intakes_df

,Animal ID,Intake Date,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake(years)
0,A786884,2019-01-03,Stray,Normal,Dog,Male,2.0
1,A706918,2015-07-05,Stray,Normal,Dog,Female,8.0
2,A724273,2016-04-14,Stray,Normal,Dog,Male,0.0
3,A665644,2013-10-21,Stray,Sick,Cat,Female,0.0
4,A682524,2014-06-29,Stray,Normal,Dog,Male,4.0
...,...,...,...,...,...,...,...
124115,A828158,2021-01-08,Stray,Normal,Dog,Male,0.0
124116,A830183,2021-03-03,Stray,Sick,Dog,Female,0.0
124117,A830180,2021-03-03,Owner Surrender,Normal,Dog,Female,9.0
124118,A830171,2021-03-03,Stray,Normal,Dog,Female,1.0
124119,A830181,2021-03-03,Owner Surrender,Normal,Cat,Female,4.0

In [28]:
intakes_df["Intake Condition"].unique()

array(['Normal', 'Sick', 'Aged', 'Feral', 'Pregnant', 'Behavior'],
      dtype=object)

In [29]:
#intakes_df.to_csv('Data/clean_intakes.csv', index = False)